.App {
  height: calc(100vh - 26px);
  display: flex;
  flex-direction: row;
}

.App .JSON-input-area {
  width: 50%;
  margin-right: 20px;
}

.App .Object-viewer {
  width: 50%;
  border: 1px solid #eee;
}
